.assets {
    height: 100vh;
    width: 25vw;
    position: absolute;
    left: 5vw;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    font-family: papyrus;
    box-sizing: border-box;
    background: linear-gradient(lighten($dark-black, 10), black);

    &__title {
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        color: $harbor-rat;
        position: absolute;
        font-size: $s-font;
        width: 100%;
        height: 2%;
        margin-top: 0;
        padding-top: 0;
    }

    &__upload {
        position: absolute;
        top: 0;
        left: 0;
        height: $l-size;
        width: $l-size;
        border-radius: 0 0 $xl-size;
        background-color: rgba($dark-cyan-blue, .1);
        color: lighten($rose-red, 20);
        padding: $m-size;
        font-size: $m-font;
        z-index: 100;

        &:hover {
            background-color: $rose-red;
            color: $dark-cyan-blue;
        }

        input[type="file"] {
            display: none;
        }
    }

    &__container {
        box-sizing: border-box;
        width: 95%;
        height: 45%;
        border: .1rem $cadet-blue solid;
        border-radius: $l-size;
        margin: 2.5%;
        position: absolute;
        padding-left: $xl-size;
        padding-top: $s-size;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            height: 100%;
        }

        &::-webkit-scrollbar-track {
            border-radius: $xxl-size;
            background-color: black;
            box-shadow: inset 0 0 .4rem grey;
        }

        &::-webkit-scrollbar-thumb {
            background-color: lighten(black, 20);
            box-shadow: inset 0 0 1rem $dark-black;
        }

        &__card {
            display: inline-block;
            position: relative;
            border-radius: $s-size;
            background-color: lighten($dark-black, 20);
            margin-left: $xs-size;
            width: 15rem;
            height: $xxl-font;
            overflow: hidden;

            &__title {
                font-size: $s-font;
                color: white;
                text-align: center;
                padding: $l-size;
            }

            &__delete {
                border-radius: $xs-size $xs-size $xl-size $xl-size;
                background-color: darken($dark-black, 20);
                position: absolute;
                top: 0;
                left: 0;
                font-size: $m-font;
                border: none;
                color: white;

                &:hover {
                    background-color: $rose-red;
                    color: lighten($rose-red, 50);
                }
            }



            &__add {
                background-color: darken($dark-black, 20);
                position: absolute;
                top: 65%;
                right: 40%;
                font-size: $s-font;
                border: none;
                color: white;
                transition: transform .3s;

                &:hover {
                    font-size: $l-font;
                    width: 20rem;
                    height: 8rem;
                    background-color: rgba($rose-red, .6);
                    color: lighten($rose-red, 50);
                    transform: translate(8rem, -5rem);
                }
            }




        }
    }
}

@media only screen and (max-width: 600px) {
    .assets {
        height: $xxl-font;
        width: 100%;
        left: 0;
        top: 10vh;
        z-index: 1000;

        &__upload {
            top: 0;
        }

        &__title {
            visibility: hidden;
        }

        &__container {
            height: 100%;
            top: 0;

            &__card {
                height: 13vh;
            }

        }


    }

}