.assets {
    position: fixed;
    top: 0;
    right: 0;
    height: $xxl-size;
    width: 85%;
    background-image: $marble-img;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $xl-size $s-size $xl-size $s-size;
    display: flex;


    &__upload {
        opacity: .8;
        border-radius: 0 $xl-size;
        background-image: $sea-img;
        color: lighten($light-brown, 30);
        padding: $l-size;
        font-size: $l-font;

        &:hover {
            opacity: 1;
            color: $light-brown;
        }

        input[type="file"] {
            display: none;
        }
    }

    &__container {
        width: 90%;
        display: flex;
        overflow-y: hidden;

        &__card {
            border-radius: $xs-size;
            background-color: $crown-diamond;
            position: relative;
            box-sizing: border-box;
            width: 20%;
            height: 90%;
            margin: $xs-size;
            overflow: hidden;

            &:hover {
                background-color: lighten($crown-diamond, 10);
            }

            &__title {
                font-size: $s-font;
                color: $cadet-blue;
                text-align: center;
                padding: $l-size;
            }

            &__delete {
                border-radius: $xs-size $xs-size $xl-size $xl-size;
                background-color: darken($crown-diamond, 20);
                position: absolute;
                top: 0;
                right: 0;
                font-size: $m-font;
                border: none;
                color: white;
            }

            &__delete:hover {
                background-color: $rose-red;
                color: lighten($rose-red, 50);
            }
        }
    }
}