.assets {
    position: fixed;
    top: 0;
    left: 10%;
    height: $xxl-size;
    width: 90%;
    background-color: rgba($crown-diamond, .4);
    border-radius: 0 0 $xl-size 0;
    z-index: 1000;
    overflow-y: hidden;

    &__upload {
        position: sticky;
        top: 0;
        left: 0;
        height: $l-size;
        width: $l-size;
        border-radius: 0 0 $xl-size;
        background-color: rgba($dark-cyan-blue, .1);
        color: lighten($rose-red, 20);
        padding: $m-size;
        font-size: $m-font;
        z-index: 100;

        &:hover {
            background-color: $rose-red;
            color: $dark-cyan-blue;
        }

        input[type="file"] {
            display: none;
        }
    }

    &__container {
        padding-left: $xl-size;
        padding-top: $s-size;
        width: max-content;

        &__card {
            margin-bottom: -$l-size;
            top: -$l-size;
            display: inline-block;
            position: relative;
            border-radius: $s-size;
            background-color: lighten($crown-diamond, 10);
            margin-left: $xs-size;
            width: 15rem;
            height: $xxl-font;
            overflow: hidden;

            &__title {
                font-size: $s-font;
                color: $cadet-blue;
                text-align: center;
                padding: $l-size;
            }

            &__delete {
                background-color: red;
                border-radius: $xs-size $xs-size $xl-size $xl-size;
                background-color: darken($crown-diamond, 20);
                position: absolute;
                top: 0;
                left: 0;
                font-size: $m-font;
                border: none;
                color: white;
            }

            &__delete:hover {
                background-color: $rose-red;
                color: lighten($rose-red, 50);
            }
        }
    }
}
