.header {
    font-size: $l-font;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 15%;
    background-image: $sea-img;
    text-align: center;

    h1 {
        font-size: $s-font;

    }

    &__link {
        display: block;
        padding-top: $l-size;
        padding-bottom: $l-size;
        font-size: $s-font;
        color: $crown-diamond;
    }

    &__link--active {
        display: block;
        padding-top: $l-size;
        padding-bottom: $l-size;
        font-size: $s-font;
        color: $rose-red;
        background-color: rgba($crown-diamond, 0.9);
    }


}