.header {
    font-size: $l-font;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 10%;
    background-color: darken($cadet-blue, 30);
    text-align: center;

    h1 {
        background-color: darken($cadet-blue, 40);
        font-size: $s-font;

    }

    &__link {
        text-decoration: none;
        display: block;
        padding-top: $l-size;
        padding-bottom: $l-size;
        font-size: $s-font;
        color: $crown-diamond;
    }

    &__link--active {
        text-decoration: none;
        display: block;
        padding-top: $l-size;
        padding-bottom: $l-size;
        font-size: $s-font;
        color: $rose-red;
        background-color: rgba($crown-diamond, 0.9);
    }


}