.popup {
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0%;
    height: $m-font;
    width: 100%;
    opacity: .9;
    padding: $s-size;
    font-size: $m-font;
    background-color: red;
}

@media only screen and (max-width: 600px) {
    .popup {
        padding: $xs-size;
        font-size: $s-font;
    }

}