.timeline {
    background-color: rgba($dark-cyan-blue, .1);
    border-radius: $xl-size $xs-size $xs-size $xs-size;
    padding: $m-size;

    &__zoom {
        display: flex;
        justify-content: right;

        &__slider {
            max-width: fit-content;
            -webkit-appearance: none;
            border: none;
            padding: $s-size;

            &::-webkit-slider-runnable-track {
                background: lighten($titanium, 20);
                cursor: pointer;
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: 10px;
                width: 20px;
                background: $rose-red;
            }
        }
    }

    &__container {
        background-color: $crown-diamond;
        overflow-x: scroll;
        cursor: pointer;

        &__ruler {
            display: block;
            font-size: $s-size;
            background-color: lighten($rose-red, 20);
        }

        &__channels {
            display: block;

            &__channel {
                overflow: hidden;

                &__clip {
                    display: inline-block;
                    border-right: $xxs-size solid $light-brown;
                    background-color: lighten($rose-red, 40);

                    &__tool {
                        position: relative;
                        display: flex;
                        overflow: hidden;

                        button {
                            opacity: 0.6;
                            position: absolute;
                            top: 0;
                            left: 0;
                            font-size: $xs-font;
                            height: 30%;
                            color: $rose-red;
                            background-color: $crown-diamond;

                            &:hover {
                                opacity: 1;
                                color: $crown-diamond;
                                background-color: $rose-red;
                            }
                        }
                    }

                }

            }

        }


    }
}