.workplace {
    padding-top: $xxl-size;

    &__preview {
        display: block;
        text-align: center;

        &__canvas {
        }

        &__toolbar {
            display: flex;
            justify-content: center;
            font-size: $s-font;

            button {
                border-radius: $xl-size;
                padding: $m-size;
            }

            button:hover {
                color: $crown-diamond;
                background-color: black;
            }


        }

        &__timestamp {
            text-align: right;
            padding: $s-size;
            color: $dark-cyan-blue;
            font-size: $s-font;
        }

    }
}