.workplace {
    display: block;
    height: 100vh;
    width: 70vw;
    position: absolute;
    left: 30vw;
    top: 0;
    overflow: auto;
    font-family: papyrus;
    background: linear-gradient(lighten($dark-black, 10), black);

    &__preview {
        height: 70%;
        width: 100%;

        &__title {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            background-color: black;
            color: white;
            font-size: $m-font;
            width: 100%;
            height: 3rem;
            margin-top: 0;
            padding-top: 0;
        }

        &__container {
            top: 3rem;
            box-sizing: border-box;
            width: 95%;
            height: 80%;
            margin: 2.5%;
        }

        &__toolbar {
            display: block;
            width: 100%;
            height: 5%;
            display: flex;
            justify-content: center;
            font-size: $m-font;
            overflow: visible;

            button {
                background-color: transparent;
                color: white;
                width: 10%;
                border: none;
                padding: $s-size;
            }

            button:hover {
                color: $harbor-rat;
                background-color: black;
                border-color: $harbor-rat;
            }


        }

        &__timestamp {
            width: 100%;
            height: 5%;
            text-align: center;
            color: $harbor-rat;
            font-size: $m-font;
        }

    }
}

@media only screen and (max-width: 600px) {
    .workplace {
        width: 100vw;
        height: auto;
        min-height: 80vh;
        left: 0;
        top: 20vh;

        &__preview {
            &__title {
                visibility: hidden;
            }

            &__container {
                margin: 0;
                width: 100%;
                height: 40vh;
            }

            &__toolbar {
                font-size: $s-size;
            }
        }
    }
}