html {
    font-size: 62.5%;
    background-color: $dark-black;
    font-family: "Franklin Gothic Medium", papyrus, Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
}

@media only screen and (max-width: 360px) {
    .content {
        padding-left: 0;
        padding-top: 10%;
    }
}