html {
    font-size: 62.5%;
<<<<<<< HEAD
    background-image: $crown-diamond;
    background-repeat: repeat;
=======
    background-color: $crown-diamond;
>>>>>>> 9ee4de56054ddb8d314b34ef8c8f9a8dbedbc199
    color: $crown-diamond;
    height: fit-content;
}

.content {
    padding-left: 10%;
}