// Colors
$titanium: #22221f;
$harbor-rat: #e6e2df;
$dark-cyan-blue: #292e33;
$slate-gray: #708090;
$cadet-blue: #a5a6ac;
$dark-black: #121113;
$rose-red: #8f6e6e;
$light-brown: #ffa544;
$cobble-stone: #a89a8e;


// Spacing and Size
$xxs-size: 0.1rem;
$xs-size: 0.4rem;
$s-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 6.4rem;
$xxl-size: 9.6rem;

// Text Size
$xs-font: .5rem;
$s-font: 1rem;
$m-font: 1.5rem;
$l-font: 3rem;
$xl-font: 6rem;
$xxl-font: 12rem;

// Images
$bg-img: url("../images/marble-background.jpg");
$black-marble-img: url("../images/black-marble.jpg");
$marble-img: url("../images/marble.jpg");
$sea-img: url("../images/sea.jpg");
$golden-sea-img: url("../images/golden-sea.jpg");
$test-img: url("../images/2.jpg")
